# Field Testing Report



## Tests

All testing was performed on the campus facilities of Haaga-Helia in Helsinki. Each test was executed with the written agreement of the device owner. Signal strength limitation was used to avoid scanning any devices that are more than a few meters away from the network interface controller. 

Additionally, I blacklisted SSIDs that are hosted at the test location since they are of no value to me in this specific test scope and it helps to greatly limit the amount of API calls.

### Test 1

**Date / Time:**

**Device/s:**

- x

**Associated SSIDs:**

- x

**Revealed Location Data:**

- x

**Screenshots**

**Summary**
