# Field Testing Report

## Tests

All testing was performed on the campus facilities of Haaga-Helia in Helsinki. Each test was executed with the written agreement of the device owner. Signal strength limitation was used to avoid scanning any devices that are more than a few meters away from the network interface controller.

Additionally, I blacklisted SSIDs that are hosted at the test location since they are of no signifficant value to me in this specific test scope and it helps to greatly limit the amount of API calls. I will still mention the appearance of the blacklisted SSIDs in the tests but I am not running any geolocation on them since I know where they are.

#### Test 1

>**Date / Time:**
>1.12.2022 / 16:16
>
>**Device/s:**
>Galaxy S20
>
>**Results:**
>I identified five SSIDs belonging to the device owner. The phone sent probe requests out twice under two different MAC addresses. It was possible to crossreference two of the SSIDs with accurate geographical coordinates plus two other requests wiht SSIDs belonging to the University where the testing was done.
> 
#### Test 2
>**Date / Time:**
>
>
>**Device/s:**
>
>
>**Results:**
>
>