# Field Testing Report

All testing was performed on the campus facilities of Haaga-Helia in Helsinki.

## Tests

The following tests were executed with the explicit agreement of the device owners.

### Test 1

**Date / Time:**

**Device/s:**

- x

**Associated SSIDs:**

- x

**Revealed Location Data:**

- x

**Screenshots**

**Summary**
